@use "./variables" as *;

.tag {
  padding: 4px 10px;
  border-radius: 6px;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .04em;
}

.tag-soft {
  background: $tag;
  color: $tagc;
}

.tag-pill {
  background: $bg2;
  border: 1px solid $bd;
  border-radius: 20px;
  color: $t2;
}

.a-none {
  text-decoration: none;
}