.app-layout {
  display: flex;
  min-height: 100vh;
  background: #0b1622;
}

/* SIDEBAR FIXA */
app-sidebar {
  width: 260px;
  flex-shrink: 0;
}

/* ÁREA DE CONTEÚDO */
.app-content {
  flex: 1;
  padding: 4rem;
  overflow-y: auto;
}