@use "../styles/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background: $bg;
  color: $t1;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: none;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.main {
  margin-left: 220px;
  flex: 1;
  min-height: 100vh;
  padding: 48px 52px 56px;
}

.divider {
  border: none;
  border-top: 1px solid $bd;
  margin: 0 0 40px;
}

.sec-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.pg-footer {
  margin-top: 48px;
  padding-top: 20px;
  border-top: 1px solid $bd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pg-footer span {
  font-size: .8rem;
  color: $t3;
}

.pg-footer-links {
  display: flex;
  gap: 20px;
}

.pg-footer-links a {
  font-size: .8rem;
  color: $t2;
}

.btn-p {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 13px 26px;
  background: $accent;
  color: #fff;
  border-radius: 8px;
  font-size: .9rem;
  font-weight: 600;
  border: 2px solid $accent;
  transition: all .2s;
}

.btn-p:hover {
  background: $accent-h;
  border-color: $accent-h;
}

.btn-o {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 13px 26px;
  background: transparent;
  color: $t1;
  border-radius: 8px;
  font-size: .9rem;
  font-weight: 600;
  border: 2px solid $bd2;
  transition: all .2s;
}

.btn-o:hover {
  border-color: $accent;
  color: $accent;
}