@use "../../../styles.scss" as *;

.layout {
  display: flex;
}

.content {
  padding: 4rem;
  width: 100%;
}

.contact-container {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input,
  textarea {
    background: $bg-card;
    border: 1px solid $border-color;
    padding: 0.8rem;
    border-radius: 8px;
    color: $text-primary;
  }

  button {
    background: $accent;
    border: none;
    padding: 0.9rem;
    border-radius: 8px;
    color: white;
  }
}