<aside class="sidebar">
  <div class="sb-profile">
    <div class="sb-avatar" id="sb-av">
      <img src="/20250520_180658.jpg" alt="wilson-imagem" class="sb-avatar">
    </div>
    <div>
      <div class="sb-name" id="sb-name">Wilson Oliveira</div>
      <div class="sb-role" id="sb-role">Desenvolvedor Full Stack</div>
    </div>
  </div>
  <nav class="sb-nav">
    <a class="ni" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}">
      <lucide-icon name="house"></lucide-icon>Início
    </a>
    <a class="ni" routerLink="/projetos" routerLinkActive="active">
      <lucide-icon name="tv-minimal"></lucide-icon>Projetos
    </a>
    <a class="ni" routerLink="/sobre" routerLinkActive="active">
      <lucide-icon name="user"></lucide-icon>Sobre
    </a>
    <a class="ni" routerLink="/contato" routerLinkActive="active">
      <lucide-icon name="mail"></lucide-icon>Contato
    </a>
  </nav>
  <a href="/pdf/Wilson-Rogerio-Full-Stack.pdf" download="Wilson-Rogerio-Full-Stack.pdf">
    <div class="sb-bottom" id="sb-bottom"><button class="cv-btn">
        <lucide-icon name="arrow-down-to-line"></lucide-icon>
        Baixar CV</button>
    </div>
  </a>
</aside>