@use "../../../styles.scss" as *;

.layout {
  display: flex;
  min-height: 100vh;
}

/* Faz o conteúdo ocupar o espaço ao lado da sidebar */
.content {
  flex: 1;
  padding: 4rem;
  display: flex;
  align-items: center;
}

/* HERO PRINCIPAL */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: 100%;
}

/* LADO ESQUERDO */
.hero-left {
  flex: 1;
}

.status {
  color: $accent;
  font-size: 0.9rem;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
  line-height: 1.2;

  span {
    color: $accent;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;

  button {
    padding: 0.9rem 1.6rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .primary {
    background: $accent;
    color: white;
  }

  .secondary {
    background: #162334;
    color: $text-primary;
  }
}

/* LADO DIREITO */
.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-placeholder {
  width: 420px;
  height: 420px;
  background: #111c2b;
  border-radius: 20px;
}