<div id="pg-projetos" class="page">
  <h1 class="pg-head">Meus Projetos</h1>
  <p class="pg-sub">Exploração de tecnologias e soluções que desenvolvi ao longo da minha jornada.</p>

  <div class="ftabs">
    <!-- <div class="ftabs-l">
      <button class="ftab active">Todos</button>
      <button class="ftab">React</button>
      <button class="ftab">Node.js</button>
      <button class="ftab">TypeScript</button>
      <button class="ftab">UI Design</button>
      <button class="ftab">Mobile</button>
    </div> -->
    <button class="btn-cv2">
      <lucide-icon name="arrow-down-to-line" size="20"></lucide-icon>
      Currículo</button>
  </div>

  <div class="proj-grid">
    @for (proj of projects; track proj) {
    <div class="pc">
      <div class="pc-thumb th-ec">
        <img [src]="proj.imgUrl" [alt]="proj.title" class="pc-thumb th-ec">
        <div class="pc-badge">{{proj.category}}</div>
      </div>
      <div class="pc-body">
        <div class="pc-title">{{proj.title}}</div>
        <div class="pc-desc">{{proj.descript}}</div>
        <div class="pc-tags">
          @for (item of proj.tecName; track item) {
          <span class="pt">{{item}}</span>
          }
        </div>
        <div class="pc-foot"><a class="pc-link" [href]="proj.linkRepository" target="_blank">Ver Detalhes ↗</a>
          <div class="pc-code">
            <lucide-icon name="chevronsLeftRight" size="20" color="#4a9eff"></lucide-icon>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>